/* #questions, #scores, #scoreForm {
    display: none;
} */

#questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timerCard {
    align-self: flex-end;
    padding: 20px;
    margin-right: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    margin: 30px;
}

.card h3 {
    font-size: 20pt;
    padding: 5px;
}

.answers {
    width: fit-content;
}

.correct, .opt {
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 17, 96);
    color: white;
    padding: 3px;
    border-radius: 1em;
    margin: 4px;
}

.correct:active {
    background-color: green;
}

.opt:active {
    background-color: red;
}

.correct p, .opt p {
    padding: 10px;
}
