body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 300%;
    padding: 2%;
    margin-bottom: 10%;
}

h2 {
    font-size: 200%;
    margin-bottom: 10%;
}

#instructions, #highScores, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
}

#instructions p, #highScores p {
    width: 70%;
}

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timerCard {
    padding: 20px;
    margin-right: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    margin: 30px;
}

.card h3 {
    font-size: 20pt;
    padding: 5px;
}

.answers {
    width: fit-content;
}

.correct, .opt {
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 17, 96);
    color: white;
    padding: 3px;
    border-radius: 1em;
    margin: 4px;
    cursor: pointer;
}

.correct:active {
    background-color: green;
}

.opt:active {
    background-color: red;
}

.correct p, .opt p {
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

button {
    background-color: rgb(59, 17, 96);
    color: white;
    font-size: 150%;
    padding: 20px;
    border-radius: 1em;
    margin: 20px;
}